service: otlp-endpoint-billing

provider:
  name: aws
  runtime: python3.12
  region: sa-east-1
  environment:
    AWS_LAMBDA_EXEC_WRAPPER: /opt/otel-instrument
    OTEL_ENVIRONMENT: dev
    OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
    OTEL_METRICS_EXPORTER: none
    OTEL_SERVICE_NAME: otlp-endpoint-billing
    OTEL_SERVICE_VERSION: 1.0.0

package:
  patterns:
    - '!**'
    - 'handler.py'

custom:
  apiKey: ${env:DD_API_KEY}
  site: ${env:DD_SITE,"datadoghq.com"}

functions:
  endpoint:
    handler: handler.handler
    environment:
      OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: https://trace.agent.${self:custom.site}/api/v0.2/traces
      OTEL_EXPORTER_OTLP_HEADERS: dd-api-key=${self:custom.apiKey},dd-otlp-source=datadog,dd-protocol=otlp
    layers:
      - arn:aws:lambda:sa-east-1:901920570463:layer:aws-otel-python-amd64-ver-1-21-0:1
    events:
      - schedule: rate(1 minute)

  extension:
    handler: handler.handler
    environment:
      DD_API_KEY: ${self:custom.apiKey}
      DD_SITE: ${self:custom.site}
      DD_LOG_LEVEL: debug
      DD_OTLP_CONFIG_RECEIVER_PROTOCOLS_HTTP_ENDPOINT: localhost:4319
      DD_SERVERLESS_LOGS_ENABLED: true
      DD_SERVICE: otlp-endpoint-billing
      DD_TRACE_ENABLED: true
      OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: http://localhost:4319/v1/traces
    layers:
      - arn:aws:lambda:sa-east-1:901920570463:layer:aws-otel-python-amd64-ver-1-21-0:1
      - arn:aws:lambda:sa-east-1:464622532012:layer:Datadog-Extension:88
    events:
      - schedule: rate(1 minute)
