blinker==1.9.0
bytecode==0.17.0
click==8.3.1
ddtrace==4.2.2
envier==0.6.1
Flask==3.1.2
gunicorn==23.0.0
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
opentelemetry-api==1.39.1
packaging==26.0
typing_extensions==4.15.0
Werkzeug==3.1.5
wrapt==2.0.1
zipp==3.23.0
