attrs==17.2.0
Automat==0.6.0
constantly==15.1.0
hyperlink==17.3.1
incremental==17.5.0
-e git+git@source.datanerd.us:python-agent/python_agent.git@eb5d897d3f1a11a9fb36ffd8dd70deab605e0a3c#egg=newrelic
six==1.11.0
Twisted==11.1.0
zope.interface==4.4.2
