appdirs==1.4.2
backports-abc==0.5
certifi==2017.1.23
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
-e git+git@source.datanerd.us:python-agent/python_agent.git@27b243c504c53b45678ba3147c0a76b99760a8fb#egg=newrelic
packaging==16.8
pyparsing==2.1.10
requests==2.13.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
Werkzeug==0.11.15
