certifi==2022.9.24
charset-normalizer==2.1.1
# Editable install with no version control (datadog-agent==0.1.0)
-e /Users/rey.abolofia/go/src/github.com/DataDog/datadog-agent-from-code-python
idna==3.4
requests==2.28.1
urllib3==1.26.12
