Django==1.8.13
djangorestframework==3.3.3
future==0.15.2
gunicorn==19.4.5
mysql==0.0.1
MySQL-python==1.2.5
newrelic==2.64.0.48
requests==2.10.0
sqlparse==0.1.19

# if this fails try:
# pip install git+git://github.com/douglas/toxiproxy-python.git
toxiproxy==0.1.0
